@import "tailwindcss";


@theme {
  --font-secondary: "Lato", sans-serif;
  --font-primary: "Merriweather", serif;

  --color-primary: #6EA1D6;
  --color-secondary: #EE842C;
  --color-dark-primary: #214586;
  --color-text: #FBBF5D;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
} */


html {
  scroll-behavior: smooth;
}
