@import "tailwindcss";


@theme {
  --font-secondary: "Lato", sans-serif;
  --font-primary: "Merriweather", serif;

  --color-primary: #6EA1D6;
  --color-secondary: #EE842C;
  --color-dark-primary: #214586;
  --color-text: #FBBF5D;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
} */

/* 
html {
  scroll-behavior: smooth;
} */

/* * {
  outline: 1px solid red;
} */

/* .input {
  @apply w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500;
} */
